In [ ]:
Task 1

In [ ]:
Beautifulsoup -packages used to collect the data from web

In [2]:
import requests

from bs4 import BeautifulSoup 
import pandas as pd

In [3]:
base_url ="http://www.airlinequality.com/airline-reviews/british-airways/"
pages =10
page_size =100

reviews= []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [6]:
df =pd.DataFrame()
df['reviews'] =reviews 
df

                                               reviews
0    ✅ Trip Verified |   Straightforward check in T...
1    Not Verified | I am beyond upset and disgusted...
2    ✅ Trip Verified |   I purchased round trip dir...
3    Not Verified | I booked two business class sea...
4    Not Verified | Although all four flights were ...
..                                                 ...
995  ✅ Trip Verified | Hamburg to Abu Dhabi via Lon...
996  ✅ Trip Verified | New York to Glasgow via Lond...
997  ✅ Trip Verified | London Heathrow to New York....
998  ✅ Trip Verified |  Gatwick to Bermuda. Boarded...
999  ✅ Trip Verified |  London Heathrow to Larnaca....

[1000 rows x 1 columns]

In [11]:
df.to_csv(r"C:\Users\Jeeva D\OneDrive\Desktop\Forage Intern\British Airways\web dataset .csv" , index =False)